@model List<Book>

@{
    ViewData["Title"] = "Book Sources";
    ViewData["Comment"] = "This page will contain book information that talks about Jeff Goldblum.";
    Layout = "_TableLayout";
}

<table>
    <tr>
        <th>Book</th>
        <th>Link</th>
    </tr>
    @for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <td>
                Title: @Model[i].Title <br />
                Author: @Model[i].Author <br />
                Genre: @Model[i].Genre <br />
                Publisher: @Model[i].Publisher <br />
                Published: @Model[i].PubDate
            </td>
        <td>
            <a href="@Model[i].Link">@Model[i].Link</a>
        </td>
    </tr>
}
</table>