@model List<Story>

@{
    ViewData["Title"] = "Posts";
    ViewData["Comment"] = "This page displays the stories that have been posted by users.";
    Layout = "_TableLayout";
}
<!--
<label>Alphabetize?</label>
<button asp-action="Alphabetize">Yes Please!</button>
-->

<h3>Posts: @ViewBag.PostCount</h3>

<table>
    <thead>
        <tr>
            <th>Posts</th>
            <th>Replies</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            int amount = 0;
            <tr>
                <td>
                    <h4>@Model[i].Header</h4>
                    <p>&#160 &#160 &#160 @Model[i].Body</p>
                </td>
                <td>
                    @for (int j = 0; j < ViewBag.Replies.Count; j++)
                    {
                        if (ViewBag.Replies[j].StoryID == Model[i].StoryID)
                        {
                            amount += 1;
                            <h4>@amount. @ViewBag.Replies[j].Header</h4>
                        }
                    }

                    <label>Post a Reply:</label>
                    <form method="post" asp-controller="Stories" asp-action="ReplyView">
                        <input type="hidden" name="storyID" value="@Model[i].StoryID" />
                        <label for="Header">Header</label>
                        <input type="text" name="head" /><br />
                        <label for="Body">Body</label>
                        <input type="text" name="body" />
                        <input type="submit" value="Post" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<form method="post" asp-controller="Stories" asp-action="SearchPostListHeader">
	<label for="Search By Header">Search By Header:</label>
	<input type="text" name="header" />
	<input type="submit" value="Search" />
</form>

<form method="post" asp-controller="Stories" asp-action="SearchPostListBody">
	<label for="Search By Body">Search By Body:</label>
	<input type="text" name="body" />
	<input type="submit" value="Search" />
</form>